.my-form{
    max-width: 300px;
}

/*.btn.btn-info {
    background-color: purple;  
} doesnt work*/

/*body {
    background-color: black;
}*/

/*.container {
    background-color: white;
}*/

/*.btn-info {
    background-image: linear-gradient( to bottom, purple 0, lanvender 100%)
}*/