<div id="compose-post">
<h1>Compose new blog</h1>
<input type="text" id="titlebox" placeholder="Title of Post" ng-model="title">
<select ng-model="category" id="category-selector">
        <option value="">Select a Category</option>
        <option value="{{ category.id }}" ng-repeat="category in categories">{{ category.name }}</option>
        <!--<option ng-repeat="user in users" value="{{ user.id }}">{{ user.name }}</option>-->
</select> 
<select ng-model="user" id="user-selector" >
        <option value="">Select a User</option>
        <option value="{{ user.id }}" ng-repeat="user in users">{{ user.firstname }} {{ user.lastname }}</option>
        <!--<option ng-repeat="user in users" value="{{ user.id }}">{{ user.name }}</option>-->
    </select>   
<textarea id="post-content" cols="50" rows="5" ng-model="content"></textarea>
    
<button id = "save-button" class="fancy-button" ng-click="savePost()">Save</button>
</div