<div class="container">
  <div class="jumbotron">
    <h1>Patricia Bazemore</h1> 
    <!--<p>Patricia Bazemore is many things</p> -->
  </div>
    <div class="btn-group btn-group-justified">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="login()">Log In</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="posts()">Posts</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="users()">Users</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="posts()">Posts</button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="donate()">Donate</button>
    </div>
</div>






